<div class="col-md-10 col-md-offset-1">
  <h1>NEW DESCRIPTION TO GAME</h1>

  <div class="col-md-5">
    <div class="outer-svg-container">
      <div class="svg-container">
        <%= @last_round.prepared_content %>
        <!-- <p><span>Draw this:</span> "<%= @last_round.content %>"</p> -->
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <%= render "/games/describe_form" %>
  </div>

  <!-- <%= render '/games/canvas' %> -->
</div>
