<div class="canvas-tools-container">
  <div class='brush-width-controller'>
    <span id="brush-width-label">Brush Width:</span>
    <span class="width-option" data-width="5" style="font-weight:100">thin</span>
    <span class="width-option default" data-width="10" style="font-weight:400">regular</span>
    <span class="width-option" data-width="22" style="font-weight:700">thick</span>
    <span class="width-option" data-width="70" style="font-weight:700">MASSIVE</span>
  </div>
  <button class="save-picture-btn">Save picture</button>
  <div class="brush-color-controller">
    <ul class="brush-color-controller">
      <li class="color-option default active" style="background-color:black"></li>
      <li class="color-option" style="background-color:white"></li>
      <li class="color-option" style="background-color:gray"></li>
      <li class="color-option" style="background-color:blue"></li>
      <li class="color-option" style="background-color:navy"></li>
      <li class="color-option" style="background-color:purple"></li>
      <li class="color-option" style="background-color:yellow"></li>
      <li class="color-option" style="background-color:orange"></li>
      <li class="color-option" style="background-color:brown"></li>
      <li class="color-option" style="background-color:pink"></li>
      <li class="color-option" style="background-color:green"></li>
    </ul>
  </div>
  <div class="canvas-container">
    <canvas id="canvas" width="400" height="400" class="c"></canvas>
  </div>
</div>