<div class='brush-width-controller'>
  <span>Brush Width:</span> 1 <input type="range" id="brush-width" min="1" max="7"> 7
</div>
<div class='brush-color-controller'>
  <span>Color:</span> <input class="color"><br>
</div>
<div class="canvas-container">
  <canvas id="canvas" width="400" height="400" class="c"></canvas>
</div>
<button id="save">Save picture</button>