<ul class='brush-width-controller'>
  <li class="width-option"></li>
</ul>
<ul class="brush-color-controller">
  <li class="brush-color-controlleroption" style="background-color:black"></li>
  <li class="color-option" style="background-color:white"></li>
  <li class="color-option" style="background-color:gray"></li>
  <li class="color-option" style="background-color:blue"></li>
  <li class="color-option" style="background-color:navy"></li>
  <li class="color-option" style="background-color:purple"></li>
  <li class="color-option" style="background-color:yellow"></li>
  <li class="color-option" style="background-color:orange"></li>
  <li class="color-option" style="background-color:brown"></li>
  <li class="color-option" style="background-color:pink"></li>
  <li class="color-option" style="background-color:green"></li>
</ul>
<!-- <div class='brush-color-controller'>
  <span>Color:</span> <input class="color"><br>
</div> -->
<div class="canvas-container">
  <canvas id="canvas" width="400" height="400" class="c"></canvas>
</div>
<button id="save">Save picture</button>