<div class="describe_form_container">
  <form method='post' action='/describe'>
    <textarea rows="4" cols="50" name="description" placeholder="Write a caption to describe this picture!"></textarea>
    <input type='submit'>
  </form>
</div>
