<div ng-app="completedGames">
  <div ng-controller="completedCtrl">
    <div ng-repeat="game in games" class="completed-games col-md-3 col-sm-4 col-xs-6">
      <div ng-bind-html="renderHTML(roundWrapper(game.rounds[0].content, game.rounds[0].content_type))">
      </div>
    </div>

  </div>
</div>





