<div ng-app="completedGames">
  <div ng-controller="completedCtrl">
    <div ng-repeat="game in games">
      <div ng-bind-html="renderHTML(roundWrapper(game.rounds[0].content, game.rounds[0].content_type))">
      </div>
    </div>

  </div>
</div>





