<div ng-app="app" ng-controller="PanelCtrl as panel">
  <div class="col-md-6 col-md-offset-3">
    <ul class="nav nav-pills">
      <li ng-class="{active:tab === 1}"><a href ng-click="selectTab(1)">Draw!</a></li>
      <li ng-class="{active:tab === 2}"><a href ng-click="selectTab(2)">Write!</a></li>
    </ul>

    <div class="tab-pane" ng-show="isSelected(1)">
      <%= render 'canvas' %>
    </div>
    <div class="tab-pane" ng-show="isSelected(2)">
      <%= render 'new_game_describe_form' %>
    </div>
  </div>
</div>