<div class="col-md-8 col-md-offset-3">
  <ul class="nav nav-pills" role="tablist" id="tab">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">Draw!</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Write!</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <%= render 'canvas' %>
    </div>
    <div class="tab-pane" id="profile">
      <%= render 'new_game_describe_form' %>
    </div>
  </div>
</div>
