<ul class="nav nav-pills" role="tablist" id="tab">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Draw!</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab">Write!</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <h3>Draw Something</h3>
    <%= render 'canvas' %>
  </div>
  <div class="tab-pane" id="profile">
    <h3>Write Something</h3>
  </div>
</div>