<!-- <div class='col-md-4'>
  <div class="svg-container">
    <a href="#"><%= @round.prepared_content %></a>
  </div>
</div> -->

<div class="canvas-container">
  <canvas id="testCanvas" class="c"></canvas>
</div>

<div class="canvas-container">
  <canvas id="testCanvas2" class="c"></canvas>
</div>