<!-- <div class='col-md-4'>
  <div class="svg-container">
    <a href="#"><%= @round.prepared_content %></a>
  </div>
</div> -->

<div class="canvas-container">
  <canvas id="testCanvas" width="400" height="400" class="c"></canvas>
</div>