canvas {
  border: 3px solid black;
  margin-top: 15px;
}

.canvas-tools-container {
  width: 500px;
  margin: 0 30px;
  border-top: 3px dashed black;

  .canvas-container {
    clear: left;
    margin-bottom: 20px;
  }

  .brush-width-controller {
    width: 500px;
    margin-bottom: 15px;
    margin-top: 10px;

    #brush-width-label {
      color: red;
      font-size: 1.3em;
      padding-right: 35px;
    }
    .width-option {
      font-size: 1.3em;
      margin-right: 10px;
    }
    .default {
      border-bottom: 3px solid black;
    }
    .width-option:hover {
      background-color: $color-brush-width-highlight;
      cursor: hand;
      cursor: pointer;
    }
  }

  .brush-color-controller {
    padding: 0;
    list-style-type: none;
    .color-option {
      width: 25px;
      height: 25px;
      float: left;
      margin-right: 10px;
      border: 2px solid $color-color-option-border;
    }
    .default {
      outline: none;
      border-color: #9ecaed;
      box-shadow: 0 0 10px $color-color-option-box-shadow;
    }
    li:hover {
      cursor: hand;
      cursor: pointer;
    }
  }
}

.save-picture-btn {
  float: right;
}

.nav-pills {
  margin-left: 180px;
  margin-bottom: 20px;
}



