// for completed svg/description containers
.completed {
  margin: 5%
}

.modal-game {
  .modal-dialog {
    width: 95%;
    overflow-x: scroll;
  }
  .modal-content {
    min-height: 430px;
    width: 4100px;
  }
  .frames {
    width: 360px;
    float: left;
    margin: 0 20px;
  }
}