.navbar-default {
  background-color: $color-navbar-background;

  .navbar-brand {
    color: $color-navbar-brand;
  }

  .navbar-brand:hover {
    color: $color-navbar-brand-hover;
  }

  .navbar-nav > li > a {
    color: $color-navbar-nav;
  }

  .navbar-nav > li > a:hover {
    color: $color-navbar-nav;
    background-color: $color-navbar-nav-hover-bg;
  }
}