// navbar
$color-navbar-background: #DE1010;
$color-navbar-brand: #FFF;
$color-navbar-brand-hover: #269A86;
$color-navbar-nav: #FFEBAA;
$color-navbar-nav-hover-bg: #FF6565;

// carousel
$color-carousel-well-bg: #269A86;

// rounds
$color-rounds-border: #000;
$color-rounds-description: #000;

// canvas
$color-color-option-box-shadow: #9ecaed;
$color-color-option-border: #000;
$color-color-option-glow-border: #9ecaed;
$color-brush-width-highlight: #DE1010;