canvas {
  border: 3px solid black;
  // z-index: -1;
}

.brush-width-controller {
  // margin-bottom: 20px;
  width: 150px;
}

.brush-width-controller span {
  color: red;
  font-size: 1.1em;
  padding-right: 10px;
}