svg{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.description-container,
.svg-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid black;
}

.description-container {
  background-image: url('notebook.png');
  a {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10% 8%;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;

    .description-container-table {
      display: table;
      height: 100%;
      width: 100%;

      .description-container-table-cell {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
      }
    }
  }
}